* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMonoNL NF, Noto Sans CJK;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(0,0,0,0.3);
}

/* Base styles for modules */
#workspaces,
#cpu,
#memory,
#temperature,
#disk,
#network,
#pulseaudio,
#battery,
#clock,
#tray {
    background-color: rgba(0,0,0,1);
    border-radius: 16px;
    margin: 5px;
    padding: 0px 10px;
    font-weight: bold;
}

/* Center module sizes */
#cpu {
    min-width: 70px;
}

#memory {
    min-width: 70px;
}

#temperature {
    min-width: 70px;
}

#disk {
    min-width: 70px;
}

#network {
    min-width: 70px;
}

/* Right module sizes */
#pulseaudio {
    min-width: 40px;
}

#battery {
    min-width: 40px;
}

#clock {
    min-width: 70px;
}

/* Specific module adjustments */
#workspaces {
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    border: solid 0px #f4d9e1;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: #fff;
}

#workspaces button.active {
    color: #fff;
    background-color: transparent;
    border-radius: 16px;
}

/* Right-side modules specific styles */
#pulseaudio,
#battery,
#clock,
#tray {
    margin: 5px 5px 5px 5px;
    padding: 0px 5px;
}

#pulseaudio {
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    margin-left: 0px;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}

#battery {
    background-color: transparent;
    color: #fff;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 5px 5px 5px 5px;
    padding-right: 1rem;
}

/* State colors for modules */
#cpu, #memory, #disk, #temperature {
    color: #a3be8c; /* Default to low color */
}

/* CPU states */
#cpu.medium {
    color: #ebcb8b;
}

#cpu.high {
    color: #d08770;
}

#cpu.critical {
    color: #bf616a;
}

/* Memory states */
#memory.medium {
    color: #ebcb8b;
}

#memory.high {
    color: #d08770;
}

#memory.critical {
    color: #bf616a;
}

/* Disk states */
#disk.medium {
    color: #ebcb8b;
}

#disk.high {
    color: #d08770;
}

#disk.critical {
    color: #bf616a;
}

/* Temperature states */
#temperature.medium {
    color: #ebcb8b;
}

#temperature.high {
    color: #d08770;
}

#temperature.critical {
    color: #bf616a;
    background: rgba(191, 97, 106, 0.2);
}
